/* html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
} */


#map {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0px;
    float: left;
    right: 0;
    width: 100%;
}

.map-area {
    height: auto;
    width: auto;
}

.searchbar-form {
    margin: auto;
}

.checkbox {
    display: block;
}

#directions-panel {
    height: 100%;
    float: right;
    width: 30%;
    top: 100px;
    min-width: 200px;
    overflow: auto;
    position: relative;
    z-index: 2;
    background: white;
    max-height: 76vh;
    top: 100px;
}

/* right panel for phone screens */
@media (max-width: 800px) {
    #directions-panel {
        display: block;
        width: 100%;
        float: none;
        z-index: 0;
        margin-top: 55vh;
    }

    #map {
        display: block;
        /* position: absolute; */
        top: 5vh;
        height: 60vh;
        bottom: 5vh;
    }
}

.walk-btn, .cycle-btn, .vehicle-btn, .transit-btn {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 60%;
    width: 100%;
}

#transportation-buttons {
    z-index: 2;
    position: absolute;
    top: 35%;
    left: 4%;
}

#dashboard {
    position: absolute;
    top: 45%;
    left: 7%;
    max-width: 200px;
    background: white;
}

.searchbar-form {
    z-index: 2;
}

@media print {
    #map {
      height: 500px;
      margin: 0;
    }
  
    #directions-panel {
      float: none;
      width: auto;
    }
  }

#directions-panel {
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}

#directions-panel select,
#directions-panel input {
    font-size: 15px;
}

#directions-panel select {
    width: 100%;
}

#directions-panel i {
    font-size: 12px;
}


#place-search {
    /* z-index: 2;
    position: absolute;
    max-width: 200px;
    top: 45vh;
    left: 7vw; */
    margin-top: 20px;
    margin-left: 20px;
}

.search-item {
    margin-top: 10px;
}



